boto3
chromadb
fastapi
langchain-chroma
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters
packaging
psycopg[binary]
pypdf
python-multipart
pytest
sentence-transformers
uvicorn
